body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    max-height: 700px;
    max-width: 700px;
    border-style: solid;
}

.grid div {
    height: 43.75px;
    width: 43.75px;
}