body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}

button {
    padding: 6px 12px;
    margin: 12px 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    max-height: 700px;
    max-width: 700px;
    border-style: solid;
}